@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Sora:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-poppin: 'Poppins', sans-serif;
  --font-sora: 'Sora', sans-serif;
  --font-aclonica: 'Aclonica', sans-serif;
  --black: #000;
  --white: #fff;
  --brand-color: #02643d;
}

body {
  font-family: var(--font-poppin);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

header {
  background: var(--black);
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25em 1.75em;
}

header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .75em;
}

header .info a {
  display: inline-block;
}

header .info .phone-no,
header .info .mail-id {
  text-decoration: none;
  color: var(--white);
}

header .info span {
  margin: 0 1em;
}

img {
  width: 100%;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.75em 2em;
  background: var(--white);
  border-bottom: 1px solid rgba(133, 102, 102, 0.05);
  -webkit-transition: top 200ms ease-in-out;
  transition: top 200ms ease-in-out;
}

nav.sticky {
  position: fixed;
  top: 0px;
  z-index: 99;
  -webkit-transition: padding 200ms ease-in-out;
  transition: padding 200ms ease-in-out;
}

nav.sticky .logo {
  width: 125px;
}

nav .logo {
  width: 175px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

nav .logo img {
  width: 100%;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links .nav-link {
  position: relative;
  padding: 10px 25px;
  font-size: .9em;
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  -webkit-transition: 100ms;
  transition: 100ms;
}

nav .nav-links .nav-link span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 250ms;
  transition: 250ms;
}

nav .nav-links .nav-link:hover {
  color: var(--brand-color);
  letter-spacing: 0.35px;
  font-weight: 600;
}

nav .nav-links .nav-link:hover span {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.dropdown {
  position: relative;
}

.dropdown:hover .nav-link {
  letter-spacing: 0.35px;
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  z-index: 99;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  visibility: visible;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 29px;
  width: 125%;
  left: -14%;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: .5em;
  border-radius: 9px;
  opacity: 0;
  z-index: -1;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(3em) scale(0.6);
          transform: translateY(3em) scale(0.6);
  -webkit-box-shadow: 0px 8px 30px -14px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 8px 30px -14px rgba(0, 0, 0, 0.075);
  visibility: hidden;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dropdown .dropdown-content li {
  list-style-type: none;
}

.dropdown .dropdown-content .dropdown-link {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: .8em;
  padding: 13px 10px;
  text-decoration: none;
  color: #5c5c5c;
  border-radius: 6px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.dropdown .dropdown-content .dropdown-link:hover {
  background: rgba(2, 100, 61, 0.1);
  color: #02643d;
  font-weight: 600;
}

.carousel {
  width: 100%;
  position: relative;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: auto;
}

.swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 99px;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--brand-color);
}

.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
  font-weight: bolder;
  color: var(--brand-color);
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 30px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 30px;
}

.footer-banner {
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.footer-banner .banner-bg {
  background: #2980B9;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), color-stop(#6DD5FA), to(#2980B9));
  background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  padding: 1em 3em;
  border-top-right-radius: 399px;
  border-bottom-right-radius: 399px;
  /* fallback for old browsers */
}

.footer-banner .banner-bg .link-container {
  background: #2980B9;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6DD5FA), to(#2980B9));
  background: linear-gradient(to right, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  padding: 2em;
  top: 21%;
  right: 0%;
  border-radius: 99px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.footer-banner .banner-bg .banner-title {
  font-size: 4em;
  font-family: var(--font-aclonica);
  color: var(--white);
  letter-spacing: 4px;
}

.footer-banner .banner-bg .queries,
.footer-banner .banner-bg .shoping {
  display: inline-block;
  text-decoration: none;
  padding: 2em 3em;
  font-size: 1.2em;
  background: #2980B9;
  color: var(--white);
  font-weight: 600;
  border-radius: 99px;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform-origin: left;
          transform-origin: left;
  border: 4px solid #6DD5FA;
}

.footer-banner .banner-bg .queries:hover,
.footer-banner .banner-bg .shoping:hover {
  border-color: #fff;
}

.footer-banner .banner-bg .shoping {
  margin-left: 1em;
}
/*# sourceMappingURL=main.css.map */